<form action="register" method="get">
    <input type="submit" name="register" value="register" />
</form>
<form action="login" method="get">
    <input type="submit" name="login" value="login" />
</form>