<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST" enctype="application/x-www-form-urlencoded" >
        <label >Username : </label>
        <input name="username" type="email" value=''>
        <label >Password : </label>
        <input  name="password" type="password" value=''>
        <button type='submit'>login</button><br><br>
        <% if (typeof errorMessage !== 'undefined') { %>
            <label><%= errorMessage %></label>
          <% } %>
    </form>
</body>
</html>